[2014-12-09 11:21] carlosjoserg opened #1 "Create lwr_kinematics package"
In all controllers, the direct/inverse kinematics is computed. Create a package that implements that only once and use ti within the controllers.

[2014-12-09 11:23] carlosjoserg opened #2 "Re-ordering folders"
- [x] Move out folder `lwr_end_effectors` to another repository
- [x] Rename `kuka_controllers` to `lwr_controllers` (since these apply to lwr arm, not to all kuka robots)
- [x] Rename `lwr_ros_control` to `lwr_hw`

[2014-12-09 13:19] carlosjoserg opened #3 "Implement a custom HWSim interface"
The Kuka controller box adds the torque generated by the robot dynamics when in joint impedance control mode. The default gazebo ros_control plugin doesn't do that.

In order to have a smooth transition between simulation and reality, a custom plugin is necessary that adds the arm dynamics, so that the developed controllers can be equally applied in both scenarios.

[2015-01-18 15:39] #2 closed, assigned to carlosjoserg

[2015-01-18 15:47] carlosjoserg opened #4 "Update the HW interface and KRL scripts to:"
The joint impedance control strategy allow to specify position and effort, so why not to:
- [x] Include a position_controller interface for joints, that allow to use a joint position controller
- [ ] The same as above, but to have a hybrid setpoint: position and effort, which again will still use the joint impedance control kuka strategy (this might require hacking ros_control, not urgent for now)

[2015-01-18 15:48] carlosjoserg opened #5 "Tune gains of PID position controllers"

[2015-01-26 09:08] carlosjoserg opened #6 "Custom controller gains"
The gains must be specified in the YAML file configuration, and ideally, dynamically re-configurable. Default values should provide a decent performance.

[2015-01-26 15:51] enricocorvaglia commented on #6
Hi guys, @carlosjoserg @Tabjones @manuelbonilla
please review the implementation of the OneTaskInverseKinematics controller, now it reads the PID gains from the lwr_controllers.yaml and it has a topic call to update them (see README for command). Tell me if you have comments, if it's fine in the next days I will do it for the other controllers.

[2015-01-26 16:15] Tabjones commented on #6
So technically you wrote the gains into a yaml and read them instead of hardcoding them into the source.
Nice work, i'll test it on the lwr as soon as i can.

[2015-01-27 17:43] carlosjoserg commented on #6
It looks fine to me. However, I see you are using the pid class from ros control that already has an implementation for this, and it uses a dynamic reconfigure to set the gains, and we should make the most of it.

I would suggest to initialize each of the pid's like in line 68 of the [position controller](https://github.com/ros-controls/ros_controllers/blob/indigo-devel/effort_controllers/src/join

[2015-01-28 10:05] manuelbonilla commented on #1
Discussing with @enricocorvaglia, this controllers developed to be used  not just in kuka robot but if many. @carlosjoserg The inverse/direct kinematics you are talking about  are not the same as KDL functions? JntToCart, JointToJac ect. Or how do you suggest to organize them?

[2015-01-28 10:57] enricocorvaglia commented on #6
Ok Carlos.
And regarding the dynamic reconfigure, I didn't get if the PIDs have a specific topic so that I can publish gains directly on them, or the reconfiguration is handled inside the controller through the set_gains topic routine.

[2015-01-28 11:04] carlosjoserg commented on #1
Good point, and I agree with the generality, in fact, it is quite general so far. After we test it well on the kuka and perhaps another robot, we should move the `lwr_controllers` to `ros_controllers` avoiding the `lwr_` (we fork and edit).

The thing is, I see code that is repeated regarding URDF parsing, calls to IK solvers etc., then I thought why not to create either another package or a `util

[2015-01-28 11:10] manuelbonilla commented on #1
ok, I got it.
I'll take a look a this and see how we can generate something similar.

[2015-01-28 11:11] carlosjoserg commented on #6
The dynamic reconfigure and set gains is already being handled by the PID class if you use the `bool Pid::init(const ros::NodeHandle &node, const bool quiet)` function, take a look at the [source at line 93](https://github.com/ros-controls/control_toolbox/blob/indigo-devel/src/pid.cpp).

Btw, check in the code I gave above that the sum of strings and the `getName()` call are correct.

[2015-01-28 11:15] enricocorvaglia commented on #6
Okay! I still have to try to adapt that script to our case.
I was getting wrong with the "reconfigure" thing, I thought that you were talking about the online reconfiguration of the gains, not just the initialization.

[2015-01-28 11:41] carlosjoserg commented on #6
I think you are still getting it wrong, since it is about that. Doing it this way will provide both load&initialize gains from the yaml file and reconfigure them online using `rosrun rqt_reconfigure rqt_reconfigure`.

I didn't write it detailed enough when I posted the issue, my apologies, hope it is clear now.

[2015-01-28 11:45] enricocorvaglia commented on #6
Well, now it is clear, thanks. I was missing the `rosrun` command.

[2015-01-28 14:19] enricocorvaglia commented on #6
Update 1: now the controllers that use control_toolbox::PID meet the issue requirements. All the others still need tweaking and possibly the integration of dynamic-reconfigure.

[2015-01-28 14:40] carlosjoserg commented on #6
That's good news! Btw, recall that you are allowed to close the issue as well, though I would wait until the others meet the requirements. Check [this](https://help.github.com/articles/closing-issues-via-commit-messages/) to do it via commit, and link the commit to the issue.

[2015-01-28 14:47] enricocorvaglia commented on #6
Yes, it's ok for me too to wait for the others. At least these first controllers are the ones used by Federico.

[2015-02-04 15:57] carlosjoserg opened #9 "Folder re-organization, again."
Hi all,

This issue is just to inform you that in the next commit there will be the following changes, which I believe are beneficial:

* All folders are gonna be moved two levels up to have a cleaner tree structure, and one README file explaining how to use the package.
* Get rid of the FRI-Stanford library, we don't use it in this package and there is already a place to download: http://cs.stanf

[2015-02-04 18:02] enricocorvaglia commented on #9
It's fine to me, of course.

[2015-02-04 23:28] #9 closed

[2015-03-06 02:07] carlosjoserg opened #14 "Implement a gravity compensation controller"
This is to avoid the script switch in the robot controller, as proposed in the already merged PR by @marcoesposito1988. We all know the the advantages of having such a behavior.

This way, gravity compensation is triggered in the PC and not in the robot controller. This requires having an accurate dynamic model of the robot. Or, another possibility could be to implement it in the HW as a service t

[2015-03-06 10:10] manuelbonilla commented on #14
Hi all,

I think there both solutions are useful. The one using a different script is really useful (and for me the correct way) for calibration issues for example.
The solution implementing the "gravity compensation" in the controller is more a reflex strategy or something like that which can be implemented by almost any of the controllers already coded. I mean just setting the gains to 0. What I

[2015-03-06 15:19] carlosjoserg commented on #14
+1 to adding something like `/lwr/info` topic to publish device info using Msr data.

Particularly, I think Jacobian is not useful anymore, it is always referred to the robot base that can be anywhere, as in our bi-manual robot. In general, IMHO, frames, and all frame-dependent data defined in the robot shouldn't be supported from the package point of view.

I'm still doubtful regarding having two

[2015-03-11 15:30] Tabjones opened #15 "OneTaskInverseKinematics produces speed limit"
Launching lwr_launch with controller=OneTaskInverseKinematics and stopped_controllers=joint_position_trajectory_control produces a speed limit J1 from the kuka.
This happens as soon as handshake is done and controller is loaded, with no actual command given.
Could be related to commit 5b57426d33b673a36a1eb35dca28d5813368f076

[2015-03-11 15:45] Tabjones commented on #15
Issue is not affecting d789bfdbb41dabc885579f2d6af70b5fc75b6255

[2015-03-11 16:30] carlosjoserg commented on #15
You mean that the error is not present in d789bfd ?

[2015-03-11 17:32] Tabjones commented on #15
yes, this error is not present in d789bfd

[2015-03-12 10:19] carlosjoserg commented on #15
I merged because we are using it in the `multi-robot-test` branch like this, but it is true that we are using the position controllers.

Could you try setting the initial joint stiffness to zero at [this line](https://github.com/CentroEPiaggio/kuka-lwr/blob/master/lwr_hw/src/lwr_hw.cpp#L111)?

[2015-03-12 17:15] Tabjones commented on #15
i will try as soon as i can.

[2015-03-17 10:38] carlosjoserg commented on #3
This is implemented in d4df4b8

I tested by loading the gazebo model without controllers and the robot stayed still. I tried to push it on the screen as with the real robot when in gravity compensation, but it didn't work ; )

@enricocorvaglia @manuelbonilla Controllers should be updated to eliminate the gravity compensation term in the ones are present, and test if they still work. Now PID tune i

[2015-03-17 10:38] #3 closed

[2015-03-18 13:58] marcoesposito1988 commented on #14
Hi guys,

I would also vote for keeping both, as they are for two completely different use-cases, if that is not a problem.

I may also need the jacobian in the future for velocity control and visual servoing, and I can guess that others may need it, so please keep it! Maybe on a dedicated topic with a check on the number of listeners (as it is done for image publishing) if performance is a concer

[2015-04-10 20:10] carlosjoserg commented on #4
Just pinging the issue.

The last item is implemented in the `multi-robot-test` branch, and it is really cool to see how the arm become stiffer gradually according to the speed scaling !

Cheers.

[2015-04-23 09:13] gpldecha opened #17 "Out of the box readme example not working"
Hi have tried the lasted version and when I run: $ roslaunch lwr_launch lwr.launch
I get the following error:

[ERROR] [1429780242.515969375, 0.494000000]: Could not find joint 'lwr_0_joint' in 'hardware_interface::PositionJointInterface'.
[ERROR] [1429780242.516077306, 0.494000000]: Failed to initialize the controller
[ERROR] [1429780242.516109259, 0.494000000]: Initializing controller 'joint_pos

[2015-04-23 10:37] carlosjoserg commented on #17
Hi, very sorry for that.

We are planning an important update soon merging the `multi-robot-test` branch where everything is in a much more stable state.

Nevertheless, that problem is because the interface for the joints is set to [EffortJointInterface](https://github.com/CentroEPiaggio/kuka-lwr/blob/master/lwr_description/model/kuka_lwr.transmission.xacro#L11), and the default controllers are su

[2015-06-03 16:14] carlosjoserg opened #19 "Update the xacro model to pass which interface to use"
The interface to the xacro model is something like:
[code]

Add a parameter to select whether to use position (`PositionJointInterface` that uses kuka position control strategy), position/stiffness (it can be called `StiffnessJointInterface` that uses kuka impedance control strategy ), effort (`EffortJointInterface` that uses kuka impedance control strategy), or finally position/stiffness/damping/

[2015-06-03 16:24] carlosjoserg commented on #19
Or also update the `lwr_hw` package to use ros-controls/ros_control#200

[2015-06-06 07:51] carlosjoserg commented on #19
The ability to choose whether you want the gravity term added in the Stiffness, Effort and Impedance joint interfaces could be useful, like
[code]

In simulation, it is just not adding the term.

In real, one needs to read the value given by FRI and add it with opposite sign to the effort command (Several sources have told me that f_dyn(q, q_dot, q_dotdot) is actually f_dyn(q), the standard gravit

[2015-06-09 11:10] marcoesposito1988 commented on #1
Maybe instead of a package we could evaluate subclassing controller_interface::Controller and put the boilerplate in the constructor, if this is generic for any robot which consists of a single kinematic chain.

[2015-06-09 11:26] marcoesposito1988 commented on #4
There is some valuable information regarding it [here](https://toychest.ai.uni-bremen.de/wiki/projects:kuka_lwr). There is also the [KRL script](https://toychest.ai.uni-bremen.de/wiki/lib/exe/fetch.php?tok=e66198&media=https%3A%2F%2Ftum-ros-pkg.svn.sourceforge.net%2Fsvnroot%2Ftum-ros-pkg%2Fdrivers%2Fkuka_fri%2Fscripts%2Ffri_hand.src) they use, along with the ["background submit interpreter"](https

[2015-06-09 14:19] marcoesposito1988 opened #25 "Adapt lwr_controllers to urdf with dummy links"
The new dummy links added to the URDF after the merge make it impossible to initialize the controllers in lwr_controller.

In particular, kdl_tree_.getNrOfJoints() returns 14, screwing up all index computations.

Is there a way to avoid these dummy links that clutter the URDF? It looks like we cannot use KDL any more, at least not without huge hacks.

[2015-06-09 14:20] carlosjoserg commented on #1
That sounds good, we could have a family of Cartesian controllers that include this in a common constructor.

The idea of having a separate package is that kinematic/static/dynamic properties can be used outside the scope of the controllers.

[2015-06-09 14:29] carlosjoserg commented on #25
Damn... didn't think of that, true. I need the stiffness joint to be like a real joint to appear in the hardware interface.

1. The short way is not use indexes, but maps relying on the names, I just added `_stiffness` to the dummy joints.
2. The middle way is to use the transmission info from the robot_description which contains only the true joints.
3. The long and correct way is to actually cre

[2015-06-09 14:34] marcoesposito1988 commented on #25
Actually I was wrong, it manages to start with a couple of little hacks. Still the compatibility with KDL is gone until we do things nicely (3rd option).

I think I will start working on the controller subclass I mentioned in #1, so that we can confine all the hacks in there.

[2015-06-12 15:36] gavanderhoorn opened #27 "lwr_controllers: 'kdl' is not a valid build or run depends"
The package manifest of the `lwr_controllers` pkg lists `kdl` as a `build_depend` and a `run_depend` ([here](https://github.com/CentroEPiaggio/kuka-lwr/blob/bb1b9eeea368213b2b9c737f4d454ca04293d6af/lwr_controllers/package.xml#L23)). `rosdep` cannot resolve that key, and I can also not find it in the online [rosdistro/rosdep/base.yaml](https://github.com/ros/rosdistro/blob/5c8b7d54406aec4f7ff6bf691

[2015-06-15 15:59] marcoesposito1988 commented on #14
Actually playing with the new stiffness controller it looks like we can achieve a similar behavior by setting the stiffness to a very low value. I would suggest to create a script that applies a given stiffness value to all joints and then create launch files for enabling/disabling this "pseudo-gravity compensation".

Would this approach be ok for you?

[2015-06-16 08:52] carlosjoserg commented on #27
Thanks. Actually in the CMakeLists.txt is listed as a non-catkin package, and twice, [here](https://github.com/CentroEPiaggio/kuka-lwr/blob/master/lwr_controllers/CMakeLists.txt#L4) and [here](https://github.com/CentroEPiaggio/kuka-lwr/blob/master/lwr_controllers/CMakeLists.txt#L23).

But I'm actually linking to the one delivered with ros, that is, [this one](http://wiki.ros.org/orocos_kdl).

So,

[2015-06-16 09:53] carlosjoserg commented on #14
It is not pseudo, it is gravity compensation. The joint impedance control law is:

`tau_cmd = k_FRI (q_FRI - q_mst) + D(d_FRI) + tau_FRI + f_dyn`

So, if you set everything to zero, you are sending `tau_cmd = f_dyn` which is the gravity term, considering the configured tool (mass, CoM, inertia, etc.).

I had forgotten this issue, but now, the gravity compensation controller boils down to actually

[2015-06-17 09:30] marcoesposito1988 commented on #14
Actually we have a problem when we raise the stiffness again. The arm goes back to the last commanded position, and if the target stiffness is very high this can become very dangerous.

I think we should implement a dedicated controller, that takes an enable/disable command, and when gravcomp is disabled it sets the new commanded position to the last measured position before increasing the stiffne

[2015-06-17 16:06] nrontsis commented on #27
After the changes you introduced in the CMakeLists.txt (mentioned above), I have trouble compiling:

[code]

I am too linking to http://wiki.ros.org/orocos_kdl

[2015-06-17 16:30] nrontsis opened #29 "Support for versions of gazebo other than 4"
I am trying to integrate kuka-lwr with SHADOW hand.

I see that in your requirements you state "gazebo 4 or higher".

What are the problems on running on gazebo 2.2 (the default for indigo)?

Thank you!

Nikitas

[2015-06-17 16:41] carlosjoserg commented on #27
Thanks, with all tests, I pushed the wrong version !

It is fixed e78ec82c5ead9979cb11530ff212e482e495819d

[2015-06-17 16:49] carlosjoserg commented on #29
The main difference is how to access the joint angles/positions [here](https://github.com/CentroEPiaggio/kuka-lwr/blob/master/lwr_hw/src/default_lwr_hw_sim.cpp#L273) in API terms. It could be easily solved using a macro like [this one](https://github.com/ros-simulation/gazebo_ros_pkgs/blob/indigo-devel/gazebo_ros_control/src/default_robot_hw_sim.cpp#L299-L303).

The reason why I didn't do it is ba

[2015-06-17 18:02] nrontsis commented on #27
Thanks :+1:

[2015-06-17 18:37] nrontsis commented on #27
Actually, I think that there might be still an issue.

When compiling to a **new** workspace errors pop up.

However, with the following change, it seems there is no issue:

[code]

[2015-06-17 19:08] carlosjoserg commented on #27
Oh, the old __new__ workspace technique always reveals errors, this is where travis will be of great help.

However, if you type `roscd orocos_kdl` it will take you to `/opt/ros/indigo/share/orocos_kdl`, where there is a `package.xml` defining the catkin package and cmake config files. I think the problem is where @gavanderhoorn pointed it above. I issued it as a question in ros/rosdistro#8702

[2015-06-17 19:17] nrontsis commented on #29
Okay thank you a lot. I will come back later to you, to close the issue or comment further.

Cheers!

[2015-06-18 09:18] carlosjoserg commented on #27
Ok, I just realized that kdl_parser already depends on orocos_kdl. So, there is no need to use `find_package(orocos_kdl REQUIRED)`.

In a new catkin_ws, 1242b8a1f138424ce287ed3b48a1c0b3f07750ba works for me, links to orocos-kdl, and so on.

[2015-06-18 10:19] nrontsis commented on #25
@marcoesposito1988 could you mention the hacks that you used?

@carlosjoserg I am bit confused about the usefulness of the stiffness parameters in the simulation.
From my experience with the real kuka arm (hardware), in the "impedance mode", there is an inner "compliant" controller that is parameterized by the stiffness parameters, while the "FRI torque" is superimposed to the rest of the controll

[2015-06-18 11:16] marcoesposito1988 commented on #25
@nrontsis: I realized that there are no hacks necessary if the chain root and tip are specified in the yaml config file, and all joints are then found through the kdl chain. See commit 9ed8d390ad99f4308881b7b8a716ce80002282e0

I am still reviewing these changes, and still this does not solve the position/stiffness dicotomy.

[2015-06-18 11:21] marcoesposito1988 commented on #14
First implementation of controller in #31

Still unstable and dangerous (see pull request).

[2015-06-18 11:26] carlosjoserg commented on #25
@nrontsis Right now, the default interface to the gazebo model emulates the "Section 9.2.3 Controller strategy 30 (axis-specific stiffness controller)", that is, the control law is:
`tau_cmd = K_FRI ( q_FRI - q_msr ) + D( D_FRI ) + tau_FRI + f_dyn`

If you use position_controllers for Stiffness/Position you are actually sending K_FRI and q_FRI, while tau_FRI = D_FRI = 0.

q_msr is read from the si

[2015-06-18 11:31] carlosjoserg commented on #25
@nrontsis Ah, I see you want to mount the shadow hand on a kuka lwr. So, check also our [vito robot](https://github.com/CentroEPiaggio/vito-robot) where we have a custom Pisa/IIT SoftHand model as well X2.

[2015-06-19 09:20] nrontsis opened #32 "Compilation error"
I am getting the following error when running `catkin_make`:

[code]

@marcoesposito1988 you renamed `JointImpedanceController::command` to `JointImpedanceController::commandConfiguration` in https://github.com/CentroEPiaggio/kuka-lwr/commit/7319f24d487e67862acc40a905540018092f01c6 without changing the header file

*Edit*: Actually `JointImpedanceController::command` is mentioned in other places a

[2015-06-19 09:22] nrontsis commented on #25
Thank you @carlosjoserg I will check vito to see how you integrated the hand to kuka.

[2015-06-19 09:28] marcoesposito1988 commented on #32
@nrontsis: you're right, sorry about that. It must have slipped when I separated the changes into different commits. Can you make a pull request with the fix or should I do it?

We renamed all commandConfiguration to command for uniformity with ros_controllers. It was discussed in #28 and implemented in #30

[2015-06-19 09:30] nrontsis commented on #32
Thank you for the quick reply :+1:

Sure, I will make the pull request.

[2015-06-19 09:36] marcoesposito1988 commented on #32
Thank you for the contribution! I'm glad to see the community growing ;)

Please tell us if we can help you getting started or if you have ideas for improvements (especially for a new user, e.g. documentation).

[2015-06-19 09:39] carlosjoserg commented on #32
Thanks for reporting @nrontsis, actually I meant changing only the topic name, but Marco changed also the function name, I didn't see that.

[2015-06-19 09:45] carlosjoserg commented on #32
But I see I also proposed to change the function name, sorry.

Again, travis will be of great help here... I'll try to figure out if there is some sort of a hack to use it with 14.04/Indigo.

[2015-06-19 10:04] #32 closed

[2015-06-23 13:44] nrontsis opened #35 "Missing PIDgains.h"
Hi all,

In https://github.com/CentroEPiaggio/kuka-lwr/commit/3e6dc9a60797a459342a96d4adac63bd0832b4df you removed the PIDgains.msg, but you kept including `PIDgains.h` in `one_task_inverse_kinematics.h`, which leads to compilation issues, if `PIDgains.h` has not been generated before (clean workspace).

[2015-06-23 14:07] #35 closed

[2015-06-25 07:57] carlosjoserg commented on #19
@marcoesposito1988 I think I've come with a good solution only in my head so far. I think the interfaces will be too much work and probably senseless.

I would do:

 ROS CONTROL | FRI
:---:|:---:
`PositionJointInterface` | Strategy 10
`EffortJointInterface` | Strategy 30

The lwr_hw_real will expose only those 2 interfaces with all fri commands. It will need to handle the interfaces switchthat tri

[2015-06-25 08:03] carlosjoserg commented on #17
@gpldecha I'm closing this. If you have troubles again just let us know. Thanks for reporting.

[2015-06-25 08:03] #17 closed

[2015-06-25 08:05] carlosjoserg commented on #15
@Tabjones We have several updates ahead from this issue that I believe solve it, so I will close it. If it happens again, don't hesitate to re-open. Thanks for reporting !

[2015-06-25 08:05] #15 closed

[2015-06-25 08:06] carlosjoserg commented on #14
#31 was merged, so I'm closing this.

If so, we can re-open with the improvement of computing the gravity term out of the URDF.

[2015-06-25 08:06] #14 closed

[2015-06-25 08:09] carlosjoserg commented on #1
This was tackled by the KinematicChainControllerBase class in b5167fea67aa5f7347f2405ba3f18f6979a0802c

[2015-06-25 08:09] #1 closed

[2015-06-25 08:14] #6 closed

[2015-06-25 09:01] marcoesposito1988 commented on #19
@carlosjoserg: the idea about the automatic FRI mode switching is really good and sounds realistic. It should be a very clean solution, I like it.

I am a bit confused about the f_dyn column: are all lines "true/false" on purpose? Should we have two variants of each controller, one computing f_dyn from the URDF and one not?

And since in the worst case we should send 4 different values for each jo

[2015-06-25 09:49] carlosjoserg commented on #19
No, only one variant. The true/false was just to differentiate that the parameter is not a double but a bool, probably not dynamic but passed as a fixed parameter in the yaml configuration. I updated the table to reflect that, and that f_dyn is actually a grav_term that can be added or not to the controller's output.

So, if it is true, you add it (right now it is not actually in the controller's

[2015-06-25 10:04] marcoesposito1988 opened #38 "Publish (possibly) interesting data provided from FRI"
FRI provides the (estimated) external force applied on the robot, both as cartesian force/torque in the flange's reference frame, and as torque for each joint. I have many use cases where I could use this information, so I already added a realtime_publisher to lwr_hw_real in my fri_publishing branch (d1ca59150ba83b5acf9eaebfd4a032d835fe76b4).

I think there may be others interested in this informa

[2015-06-25 10:08] marcoesposito1988 commented on #25
I think this problem was addressed with pull requests #26 and #28.

@nrontsis, @carlosjoserg: can we close this? I will open a new issue about getting Gazebo to work again with the effort controllers.

[2015-06-25 10:09] carlosjoserg commented on #25
yes!

[2015-06-25 10:09] #25 closed

[2015-06-25 10:13] marcoesposito1988 commented on #27
It also compiles for me in a new workspace.

@nrontsis: can we close this?

[2015-06-25 10:14] nrontsis commented on #27
Sure!

[2015-06-25 10:18] marcoesposito1988 commented on #27
Very good, thanks! @carlosjoserg: we can kill this issue.

[2015-06-25 10:19] carlosjoserg commented on #27
Good, thanks.

[2015-06-25 10:19] #27 closed

[2015-06-25 10:28] marcoesposito1988 commented on #19
Ok, now the f_dyn matter is clear, thanks.

About the terms: I would also prefer to have a uniform approach and treat all four terms in the same manner (as resources, in your terminology). This would mean having four interfaces for each joint, so one real joint plus three dummy joints (for stiffness, damping and added effort respectively). Correct?

[2015-06-25 10:31] nrontsis commented on #29
After experimenting a bit the package, I think that there is currently no issue with using Gazebo 2.2.1. It compiles, and runs out of the box. [I definitely do not like to use outdated versions, but unfortunately, in the project I work we have decided on ros-indigo and gazebo 2.2.1 :/ ]

In contrast, vito robot and the kuka version that it used there https://github.com/CentroEPiaggio/kuka-lwr/comm

[2015-06-25 10:34] carlosjoserg commented on #38
I think it is good to have a publisher with robot info, like cameras do. So, the question is what to publish in this case that do not disturb and/or consume PC resources.

The effort you see in the `joint_states` topic is the measured torque at each joint, see [here](https://github.com/CentroEPiaggio/kuka-lwr/blob/master/lwr_hw/src/lwr_hw_real.cpp#L153).

Then, using the joint torque and position,

[2015-06-25 10:38] carlosjoserg commented on #19
Correct, but only two dummy joints, stiffness (already there) and damping. Position and effort correspond to the real joint.

[2015-06-25 10:42] marcoesposito1988 commented on #19
That's right. But can we use them at the same time? Do we have problems if we try to take ownership of the position and effort handles at once?

[2015-06-25 10:52] marcoesposito1988 commented on #38
A read-only controller like joint_state_controller would be also viable and more portable.

But as long as we do not have a perfect URDF we could make good use of what FRI gives us. At least to have a ground truth to verify the results we get using our model. We don't have to merge it, I will keep it in a branch and start working on this "arm_state_controller".

BTW, I think I linked the wrong com

[2015-06-25 10:52] carlosjoserg commented on #29
Thanks.

However, it is strange that it compiles and run out of the box, it shouldn't, are you sure? I see in your timeline you are actually not using the lwr gazebo plugin [here](https://github.com/nrontsis/kuka-lwr/commit/bcc23e58724b82152abdc3cf221a6b0cbe715400), and in fact, this is why the robot falls in simulation without controllers as you mentioned in https://github.com/shadow-robot/sr-ros

[2015-06-25 10:59] carlosjoserg commented on #19
Oh, good question, not sure, but...

![adidas](https://chochobarca.files.wordpress.com/2014/05/lionel_messi_impossible_is_nothing_21.jpg)

[2015-06-25 11:03] carlosjoserg commented on #38
True, it will be useful for validation

I guessed about the commit, and I got the idea, but that looked better, yes.

[2015-06-25 11:15] marcoesposito1988 commented on #19
:sweat_smile:

[2015-06-25 12:44] marcoesposito1988 opened #40 "Bring effort interfaces back to work in Gazebo"
As can be seen in commit 3376577ed8475516c400ef84960576ac7df027d7, removing spring_effort makes the Gazebo simulation work again with effort controllers.

How can we do this in a clean way? Shall we put a yaml parameter to lwr_hw_sim?

[2015-06-25 13:52] carlosjoserg commented on #40
I will update this next week as well. The idea is to have the same behavior in both lwr_hw_sim and lwr_hw_real, so the plugin will expose both `PositionJointInterface` and `EffortJointInterface`, emulating strategy 10 and 30.

For `EffortJointInterface` is clear, is what exists today that emulates strategy 30.

For `PositionJointInterface` there are two possible variants based on position commands

[2015-06-25 14:05] marcoesposito1988 commented on #38
I am working on my arm_state_controller branch, if you are interested. I will merge it with fri_publishing so that I can experiment there and compare the output of the control unit with that of my controller.

As of now it already works not bad, the difference with the control unit was 9 N (and in gravity compensation the robot started going up, so I am rebooting it.. might be that my controller i

[2015-06-25 14:15] carlosjoserg commented on #38
Make sure that the tool you use in the script [here](https://github.com/CentroEPiaggio/kuka-lwr/blob/master/lwr_hw/krl/ros_impedance.src#L29) has dyn params consistently with the real tool you have in the robot, it looks like you are trying to compensate something heavier than what is attached as end-eff.

[2015-06-25 14:22] marcoesposito1988 commented on #38
I know. The robot has nothing attached. Sometimes the calibration appears to be screwed up, it happens once in a while with our robot. We also defined a tool which is supposed to correspond to the flange, but it happens with that set as well.

Something funny is, that after the rebooting it was normal. Then after playing around with ROS it had the problem again.

[2015-06-25 14:25] carlosjoserg commented on #38
#KukaFacts

[2015-06-25 14:28] marcoesposito1988 commented on #38
It looks like today the flange is lighter. Maybe we slowed down to warp 3.

[2015-06-25 14:39] marcoesposito1988 commented on #38
BTW, I will try using the values in the URDF from the iAi of Bremen ( https://github.com/code-iai/iai_robots/blob/master/iai_kuka_lwr4_description/urdf/kuka_lwr_arm.urdf.xacro )

[2015-06-25 14:49] carlosjoserg commented on #38
I believe it is the same as we have, since both come from ROSIE old files.

I will go for any of these:
1. http://ifatwww.et.uni-magdeburg.de/syst/about_us/people/zometa/robotmpc/index.shtml#mdl
2. http://upcommons.upc.edu/handle/2099.1/24233
3. http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=6907033

[2015-06-26 09:10] nrontsis commented on #29
@carlosjoserg according to the code you sent me, for the difference in API terms of gazebo 4 vs gazebo 2:
[code]
Hence gazebo 2.2.1 should replace `SetPosition` to `SetAngle`. However you **do not use** at all the `SetPosition` function in kuka-lwr package.

I tested again using kuka-lwr package (**untouched**) in Gazebo 2.2.1, and I did not find any issue.

You are right however that my issues fo

[2015-06-26 09:31] carlosjoserg commented on #29
You are absolutely right, I was thinking in the hand, hence vito.

However, I plan to use the `SetPosition` next week, if it is only one place that I have to do that, no problem to add it, if there are more places, I would prefer not.

So, yes, thanks for re-opening the issue, keep it that way until that is done.

[2015-06-26 09:31] marcoesposito1988 commented on #38
This also looks quite interesting:

http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=6878124&tag=1

[2015-06-26 09:37] carlosjoserg commented on #38
Yes, it does... confidential Kuka's parameters, I think they just wanted to challenge the community, the positive side is that at least two paper were published for that.

[2015-06-26 10:00] nrontsis commented on #29
Okay, nice :blush:

In case where you use extensively the `SetPosition` I can easily put macros to handle it in a branch of my fork.

[Btw, I removed the lwr gazebo plugin in my branch because it was conflicting with the sr_gazebo_plugins used in SHADOW hand. I will ask the SHADOW guys [@ugocupcic] about it and maybe I will come back to you with a few more questions :innocent:]

Cheers!

[2015-06-26 10:04] marcoesposito1988 commented on #38
Other food for thought:

https://github.com/orocos/orocos_kinematics_dynamics/blob/master/orocos_kdl/models/kukaLWR_DHnew.cpp

[2015-06-26 10:04] ugocupcic commented on #29
@nrontsis we have some plans to get rid of that sr_gazebo_plugins package but need to look into it a bit more as it's not trivial.

What has been done in other projects is to spawn the 2 robot models separately in gazebo (one for the arm, one for the hand). But then it leads to quite a few nightmares (need to run some joint states merger etc...)

[2015-06-26 10:06] marcoesposito1988 commented on #38
The problem is that we only have a-posteriori dynamic models. Do you know any method to derive a complete description to stuff into the URDF?

[2015-06-26 10:08] nrontsis commented on #29
@ugocupcic @carlosjoserg  I think it is better to continue the discussion about kuka+shadow in https://github.com/shadow-robot/sr-ros-interface/issues/333

[2015-07-08 09:47] carlosjoserg commented on #38
Nope

[2015-07-20 16:16] radioactive1014 opened #43 "Xenomai and RTnet configured for Ubuntu 12.04 hydro not able to send trajectory msgs"
hi,
script does not pass this  FriQuality and FriState
        wait for ($FriQuality==#PERFECT)
        wait for ($FriState==#CMD)

**how to succeed in this?

Once i uncomment the above
After effects of uncommenting
      ;  wait for ($FriQuality==#PERFECT)
       ; wait for ($FriState==#CMD)

I am using this kuka_lwr pack to work with moveit. unfortunately no execution in real time occurs

Using

[2015-07-21 08:53] carlosjoserg commented on #43
Hi @radioactive1014

If the script does not pass the steps of
wait for ($FriQuality==#PERFECT)
wait for ($FriState==#CMD)
the robot will never move.

If you comment that, yes, the node will continue because it does not check for the same thing, and start the controller manager, and you are able to connect to the controller, there is actually communication with the robot because it is in Monitor mo

[2015-07-27 09:41] carlosjoserg commented on #40
I believe this is partially solved by #42

[2015-07-27 09:45] carlosjoserg commented on #5
I wasn't thinking clearly... Kuka already did that, the position control strategy from factory was embraced in #42

[2015-07-27 09:45] #5 closed

[2015-07-27 09:48] carlosjoserg commented on #29
@nrontsis I added the check for the version in the gazebo interface [here](https://github.com/CentroEPiaggio/kuka-lwr/blob/master/lwr_hw/include/lwr_hw/lwr_hw_gazebo.hpp#L81-L85), could you confirm it works for you and close the issue if so? Thanks.

[2015-07-29 10:59] carlosjoserg commented on #43
@radioactive1014 according to our email conversation:

You were using an Intel core i5 hp elitebook laptop. And every time you clicked in RVIZ, the KRC unit complained about bad communication quality and stopped communication.

My guessed was that there was not enough PC capacity to handle everything with the laptop.

The expected communication rate is configured in the KRL script [here](https://g

[2015-07-29 10:59] #43 closed

[2015-07-30 06:46] gavanderhoorn commented on #43
@carlosjoserg wrote:

Running any kind of (accelerated) 3D application on a Xenomai patched kernel is a tricky business. Graphics drivers are often not written with real-time systems in mind and tend to make use of features of the kernel that block heavily, or call into firmware routines that cannot be pre-empted (not even by the Adeos hypervisor).

The Xenomai mailing list receives many questions

[2015-07-30 08:04] carlosjoserg commented on #43
Thanks for that input that explains better the issue.

I agree, it is a work-around, specially because I run this at 2msec (the
switch still not with kuka fri) in a good PC without xenomai.

My other suggested quick-fix was to use 1 dedicated PC for controllers and
hardware, and N for the rest.
On Jul 30, 2015 8:46 AM, "G.A. vd. Hoorn" <notifications@github.com> wrote:

[2015-08-18 13:44] xwavex opened #47 "xacro issue: unexpected EOF while parsing"
Hi folks,
I am trying to launch the latest version of the simulation example:
`roslaunch --ros-args single_lwr_launch single_lwr.launch`
Unfortunately, this gives me the following error while parsing the utils.xacro file...
`unexpected EOF while parsing (<string>, line 1) when evaluating expression 'mass * (3 * radius * radius + length * length) / 12)'`

**Any ideas how to solve this issue?**

Bel

[2015-08-19 09:52] xwavex commented on #47
In the file utils.xacro are too many closing brackets making this file invalid.

[2015-08-25 15:39] marcoesposito1988 opened #51 "Regressions after big merge"
I finally managed to start looking at the Merge in detail. I am going to signal my doubts/questions here (WIP):

single_lwr.launch:
- [ ] why was the IP changed from 192.168.0.20 to 192.168.0.10? Is this necessary?
- [ ] the functionality to add controllers in a stopped state has been removed. Was this intentional?

gravity compensation controller docs:
- [ ] should be updated (the new explicit co

[2015-08-28 15:30] carlosjoserg commented on #51
@marcoesposito1988, hope you enjoyed holidays too. Quick answers, since I'll get back to work next week:

No, not really, it is an arg anyway. I suppose I was working with the other robot while testing and changed this for brevity and remained (we have 10 and 20 for the right and left arm)

It's still there, [line 18](https://github.com/CentroEPiaggio/kuka-lwr/blob/master/single_lwr_example/single

[2015-09-03 10:06] #47 closed

[2015-09-03 10:18] manuelbonilla opened #53 "One_task_inverse_kinematics controller"
Hi Guys,

I just cloned this repo.
I was trying to use the one_task_inverse_kinematics controller on gazebo.
Using the commands in the readme  the robot did't move. I took a look at the code and I change the  line 130 from
            // joint_handles_[i].setCommand(q_cmd_(i));
to
            joint_handles_[i].setCommand(joint_des_states_.q(i));
Now the robot moves.
Am I using wrong the controller

[2015-09-03 10:26] carlosjoserg commented on #53
Manuel,

It is an issue in the code, my fault in [this commit](https://github.com/CentroEPiaggio/kuka-lwr/commit/1b3490bf103053503d33ffb8a0bbf64c1d1c2d4c#diff-a43bdeeaa618d731daae33b03e0459c2R130)

Can you PR ithe change ?

[2015-09-03 10:45] carlosjoserg commented on #53
Solved in #54

[2015-09-03 10:45] #53 closed

[2015-10-06 11:23] manuelbonilla opened #55 "Effort controllers failing when using PID class"
Hi Guys,
I'm trying to use the one_task_inverse_dynamics_JL controller.
It was crashing always when updating. I saw that it is because it is using KinematicChainControllerBase instead of PIDKinematicChainControllerBase.
I suppose it is the same for all controllers generating torque commands or at least the ones using PID interfaces.
am I wrong?

[2015-10-07 06:53] carlosjoserg commented on #55
Could be, after several HWiface updates, I haven't test how all controllers behave, only a couple of them.

Did you catch the line in which it is crashing?
Are you trying in simulation or in the real robot?

[2015-10-15 20:08] davetcoleman opened #56 "Realtime Safety"
First, great work on this extensive package that supports many interfaces (FRI, Gazebo, etc)!

Question: how realtime safe is this driver implementation? Are you running this on a realtime kernel? I ask because I notice in the [lwr_hw_fril.hpp](https://github.com/CentroEPiaggio/kuka-lwr/blob/master/lwr_hw/include/lwr_hw/lwr_hw_fril.hpp#L55) file you initialize memory every read, which as I underst

[2015-10-15 20:11] davetcoleman opened #57 "Potential Compatibility with IIWA 7 R800"
Hi, do you have any insights into the difficulty of using this package for a IIWA 7 R800? Do I mostly just need to replace the Fast Research Interface (LWRHWFRIL) with Kuka's new Fast *Robot* Interface, creating a new class that inherits from LWRHW? Of course I'd have to update URDFs and other small things too, but what do you think are the big obstacles? I'm thinking of using this project for tha

[2015-10-16 19:04] carlosjoserg commented on #56
Hi @davetcoleman

I think we should thank you first for all your contributions to ROS, I'm glad you are putting an eye here.

Actually, I haven't been able to test the Stanford FRIL yet, I just new that I could (I hope my friend @lepalom can help me with that someday ;), he provided the CMake'd version of FRIL for this package). Here, I just used one of the examples Torsten gives to write that. Ce

[2015-10-16 19:18] carlosjoserg commented on #57
I don't really know the new IIWA series interfaces, and what they have to offer, hopefully I will soon. In the meantime...

What I've done here is to have an abstract class, LWRHW, written with ros-control tools* that does nothing, since it is pure virtual. Then, the LWRHWFRIL imlpements the init(), read() and write() functions using the FRIL functions.

The main thing is that the LWRHW has some l

[2015-10-16 20:47] davetcoleman commented on #57
Thanks for the thoughts!

Re:ROS dependencies - there are actually a number of packages ros_control uses, such as [roscpp](https://github.com/ros-controls/control_toolbox/blob/indigo-devel/package.xml#L21), dynamic_reconfigure, std_msgs, and all the other joint_state messages found in the ros_controllers.

[2015-10-16 20:58] carlosjoserg commented on #57
Oh, yes, sorry, I meant ifaces packages only (hwiface, jlimitiface,
transmissioniface), not the full ros-controls project ;)
On Oct 16, 2015 10:47 PM, "Dave Coleman" <notifications@github.com> wrote:

[2015-11-17 13:02] marcoesposito1988 commented on #57
@davetcoleman: sorry for not telling before, but we just made this public right now: in my lab we have been working on implementing a stack for the iiwa, taking this one as a reference, see https://github.com/SalvoVirga/iiwa_stack

We can use the iiwa with MoveIt natively in any mode (we are going to make it possible to configure the ServoMotion with a ROS service). We implemented a ROS node as a

[2015-11-17 17:52] davetcoleman commented on #57
Cool, thanks for the heads up on this!

[2015-11-18 06:51] davetcoleman commented on #57
... but note I already have written my own package using the FRI interface and just joint position control

[2015-11-18 07:29] gavanderhoorn commented on #57
yay, more IIWA drivers ;)

[2015-11-18 07:34] davetcoleman commented on #57
lol

[2015-11-18 08:29] gavanderhoorn commented on #57
:)

[2015-12-10 18:13] gpldecha opened #61 "joint_(damping & stiffness)_command_"
Hello,

I have been using your package with our KUKA and have been implementing a joint position impedance controller with the hardware_interface::PositionJointInterface. My efforts have been based on duplicating/modifiying your Effort impedance controller (joint_impedance_controller.cpp).  I have not figured out how  "joint_position_command_" gets set in the lwr_hw.h.  I guess it is taken in some

[2015-12-11 19:43] carlosjoserg commented on #61
Hi @gpldecha ,

That's something it has been in the ToDo list for a while. We had one version in the history in the beginnings where stiffness could be controlled along with position using the joint impedance strategy, setting the added torque and damping to zero, for instance.

We have thought of several approaches. Those values can be thought as control parameters, think as if they were the gain

[2015-12-12 12:27] gpldecha commented on #61
Thanks a lot for your long response, this really helps my understanding. I see why your solution regarding dummy links is preferable over control parameters.

I was looking in lwr_hw.cpp  and I see that you register two handles to position_interface_. This means
I should have access to both joint_position_command_ and joint_stiffness_command_  in my controller implementation. However I am still pe

[2015-12-12 13:54] gpldecha commented on #61
I have figured out how to do it... in my controller I added:

     // in joint_position_impedance_controller.h
    std::vector<hardware_interface::PositionJointInterface::ResourceHandleType> joint_handles_stiffness;

    // inside the init function
    KinematicChainControllerBase<hardware_interface::PositionJointInterface>::init(robot, n);
    // Get joint handles for all of the joints in the cha

[2015-12-12 14:17] carlosjoserg commented on #61
Yes, that was the idea!

That's why also the lwr_hw is tightly related to the urdf model, since there is a name convention to do this.

Regarding previous questions:

Yes, exactly.

I assume you use the controller acting on the `EffortJointInterface` to trigger strategy 30 on the robot, right? But still you can access to the `PositionJointInterface` handles... that's why all interfaces are registe

[2015-12-12 14:27] gpldecha commented on #61
Actually I am using  PositionJointInterface and I am setting in RHW

        mFRI->SetCommandedJointPositions(newJntPosition);
        mFRI->SetCommandedJointStiffness(newJntStiff);
        mFRI->SetCommandedJointDamping(newJntDamp);

I wanted to try effort at the start but the KUKA went a bit crazy. I have my own (but very similar) RHW, it's a way for me to learn what is going on. I will try the

[2015-12-14 13:12] carlosjoserg commented on #61
Ah, ok, that explains then...

Yes, the robot needs to start in strategy 10, and then switch to 30 (or 20), otherwise there can be an unexpected behaviors.

But those commands are only available in strategy 30, so I guess you have that mode fixed and only that one in your RHW.

[2015-12-17 07:52] #61 closed

[2015-12-17 10:31] gpldecha commented on #29
I have installed gazebo6 and when I launch the simulator I get:

[WARN] [WallTime: 1450348091.185336] [14.746000] Controller Spawner couldn't find the expected controller_manager ROS interface.

[2015-12-17 11:32] carlosjoserg commented on #29
Could deveop more the question? How are you launching? Are you using fully the example given [here](https://github.com/CentroEPiaggio/kuka-lwr/tree/master/single_lwr_example) or your own?

[2015-12-17 11:49] gpldecha commented on #29
Sorry about my hast no issue. I made a mistake.

[2015-12-17 12:11] carlosjoserg commented on #29
No worries.

Anyway, looked like the lwr plugin was not loaded... might be things like
gazebo is started with pause on or the tag not being converted to SDF...

Let us know if it is gazebo6 compatible ;)
On Dec 17, 2015 12:49 PM, "gpldecha" <notifications@github.com> wrote:

[2015-12-18 13:59] gpldecha commented on #29
It is indeed gazebo compatible.

[2015-12-18 18:25] carlosjoserg commented on #29
:+1: thanks !

[2016-01-13 07:29] gpldecha opened #62 "joint_impedance_controller (real robot + simulation)"
Hi have been trying out the the joint_impedance controller which uses an effort interface.
In your code you send the following torque:

tau_cmd_(i) = K_(i) * (q_des_(i) - q_msr_(i)) + D_(i)*dotq_msr_.qdot(i) + tau_des_(i) + tau_gravity_(i);

Now the LWR 4 kuka already takes into account gravity compensation. Running this on the real robot
will lead to bad behaviour (in my case). If I send tau_cmd

[2016-01-14 08:06] gpldecha commented on #62
My bad I got it working... :)

[2016-01-14 08:06] #62 closed

[2016-01-14 08:49] carlosjoserg commented on #62
Hi @gpldecha... however, you were absolutely right.

Most of the controllers in that folder were developed when the hwiface was more basic, and we wanted to replicate the impedance behavior use it with any other arm as well.

Nowadays, withing the repo, that term `tau_gravity_` is not needed anymore, since we rely on the impedance controller within the kuka box. And the gazebo plugin also adds tha

[2016-01-14 13:46] gpldecha opened #63 "fril torque + position"
Sorry if I asked a similar question, but I was looking in lwr_hw_fril.hpp at the following piece of code:

for(int j=0; j < n_joints_; j++)
            {
              newJntPosition[j] = (float)joint_position_command_[j];
              newJntAddTorque[j] = (float)joint_effort_command_[j];
              newJntStiff[j] = (float)joint_stiffness_command_[j];
              newJntDamp[j] = (float)joint

[2016-01-14 18:09] gpldecha commented on #63
So I have added damping so I can set it now I can set it in JointStateInterface controllers.

In lwr_hw.cpp :

state_interface_damp.registerHandle(hardware_interface::JointStateHandle(
           joint_names_[j]+std::string("_damping"),&joint_stiffness_[j], &joint_stiffness_[j],   &joint_stiffness_[j]));

     /// Damping interface
      hardware_interface::JointHandle joint_handle_damping;

[2016-01-15 09:03] nstaub opened #64 "What are the high frequency command capacities of the package ?"
I have to use a kuka-lwr 4+ for a project and would like to command it through ROS.
I would like to use the package kuka-lwr that you developed, but before  could you provide me the following detail is it possible to do joint impedance control or pure joint torque control at 1kHz, if not what are the performance achievable with classical ubuntu setup or is there any alternative out there ?

Thanks

[2016-01-18 09:41] carlosjoserg commented on #64
Hi @nstaub,

Right now, I don't think you can. So far, I've tested the joint impedance strategy only sending position and stiffness @500Hz (2ms) top.

Back in old times, we managed to do joint position / Cartesian impedance strategy @1Khz with @manuelbonilla using the Stanford FRI libraries on regular Ubuntu.

On the other hand, the IOC group at Barcelona lead by @lepalom, has CMake'd (among other

[2016-01-18 09:48] carlosjoserg commented on #63
Hi @gpldecha

As I said in #64, this is right now the priority, working on the lwr_hw_fril.hpp interface.

To answer you question:

one handle is associated with one resource. In the current model in the repository there is
only an additional dummy link for joint_stiffness.

No so far. What I did do was to create a dummy hwiface called `CartesianImpedanceInterface`, such that using a controller on

[2016-01-20 12:00] gpldecha commented on #63
Hi, thanks for your replay. I made all the changes such that I have a total of 4 resources per joint.

[2016-02-29 15:54] miguelprada opened #65 "FRI Interpolation error switching to gravity compensation controller"
Whenever I try to switch to the gravity compensation controller I get a FRI Interpolation error which makes the call to `friStart` (after the stiffness strategy is changed) to fail.

I can switch to gravity compensation manually from the pendant, and enter joint impedance control mode using a custom built test executable, so this should rule out erroneous load data parameters, I guess.

I'm runnin

[2016-03-02 08:29] miguelprada commented on #65
Just a quick heads up.

It seems my issue is related to `friRemote` not being thread-safe. I added some quick and dirty synchronization in [`lwr_hw_fri.hpp`](https://github.com/CentroEPiaggio/kuka-lwr/blob/f4da4dd31c1377364fc05ba8325546b303968204/lwr_hw/include/lwr_hw/lwr_hw_fri.hpp) and it seems to fix my issues.

Not sure why this hasn't happened before while using the position controllers. I'll

[2016-03-02 11:19] carlosjoserg commented on #65
Yes, this is it. Sorry for my late reply.

My guess is that the position controllers are less strict in the communication requirements.

Sorry to making you waste time on that. I didn't want to do it because I know this is already done in the Stanford FRI. The decision initial went to not consider it cause the version I knew used KUKA FRI underneath. But not it is not the case anymore. Anyway, I'm

[2016-03-02 16:03] miguelprada commented on #65
Ok, I'll go on with my dirty fix, then, and stay tuned for further news.

Thanks for the info!

[2016-03-02 16:03] #65 closed

[2016-03-07 17:06] marcoesposito1988 opened #67 ""cmd.cartPos not properly initialized" error with cartesian impedance controller"
Hey Carlos,

I am trying the cartesian impedance controller from the vito-devel branch and I cannot make it work yet. I found out a problem and solved it in #66 but I still get the following error: "cmd.cartPos not properly initialized".

Any idea about the reason?

[2016-03-07 18:09] teiband commented on #67
Hi Marco,
I am also working on a version to use the native cartesian impedance mode since I mailed you and I am facing the same problem. Even if I mirror the position in friRemote::doCartesianImpedanceControl() with:
`cmd.cmd.cartPos[i] = msr.data.msrCartPos[i] + msr.data.cmdCartPosFriOffset[i];`
or:
`cmd.cmd.cartPos[i] = msr.data.msrCartPos[i];`

I found out that the coordinates displayed on the

[2016-03-08 12:16] marcoesposito1988 commented on #67
Hi Thomas,

while debugging I found out that "short-circuiting" lwr_hw_fri to just pass getMsrCartPosition while in cartesian mode, I seem to maybe get past that error; however I get immediately another one, just as enigmatic: "cmdFlags changed during cmd mode". Since I just do always the same thing in that for loop, this sounds quite unjustified. I will take a look at the internals of friRemote t

[2016-03-08 12:26] marcoesposito1988 commented on #67
No luck: there appears to be no write before a read. So the controller should never receive an unplausible value, in theory. I start to run out of ideas, the code looks correct.

[2016-03-08 13:06] teiband commented on #67
Hi Marco,
disabling the reset of the command flags seems like it prevents "cmdFlags changed during cmd mode"
`// cmd.cmd.cmdFlags=0;`
Anyway I got the "cmd.cartPos not properly initialized", which occurs sporadic after some seconds or minutes.
Actually I test it with a cycle time of 5ms and the robot is running forever, while it is just feeding back msr.data.msrCartPos

[2016-03-09 11:43] teiband commented on #67
I made some print outs in doCartesianImpedanceControl() and it seems that the function is called with the initial values of cart_pos_command_ directly after the controller switch. So they are not overwritten with the current robot position before doCartesianImpedanceControl() gets called the first time.

Any Idea how to solve this?

[2016-03-09 12:57] teiband commented on #67
I added the setCommand to the init() and start() functions of the cartesian_impedance_controller in order to initialize the commands and fixed a typo:
1ab5b02d74a4d087d2930e34ea29c2817d1f2688

Now it runs for me.

[2016-03-09 13:53] marcoesposito1988 commented on #67
Awesome! Somehow I missed that. Integrating the hack you mentioned (commenting out cmdFlags=0), I also manage to get the controller running.

Still, without the hack I get the infamous error. This bugs me a lot. I will try to understand the reason for that, and if eventually we have to live with it.

[2016-03-09 14:12] marcoesposito1988 commented on #67
Well, the robot seems to be able to switch back and forth between cartesian impedance and other controllers. So I am committing the hack.

If my understanding is correct, not resetting this flag could give problems if one of the inputs of doCartesianImpedanceControl that was sent stops being sent to the robot. Then the flag remains set, and old data could continue to be sent. While this should not

[2016-03-10 08:16] carlosjoserg commented on #67
Hey Marco and Thomas, sorry for my slow reply...

It's great you come back with such good enhancement on the KUKA FRI side... I started it but couldn't test/finish it...

I assume you are using the forked ros-control due to this change CentroEPiaggio/ros_control@809f70b9e9691c64bd254147c2102719b6817ef6, otherwise it wouldn't compile, right? Don't think they will accept that in ros-control, since l

[2016-03-11 09:19] marcoesposito1988 commented on #67
@carlosjoserg: thanks! Since I was out of the loop for a long time I wanted to hear from you first. As soon as I am confident I will start poking around.

I will do some more testing and then merge the fixes for this controller.

[2016-03-30 15:45] kjyv opened #68 "single_lwr_example not running Action server"
Following the Readme for simple_lwr_example, I start
`roslaunch single_lwr_launch single_lwr.launch load_moveit:=true`
While this opens up gazebo, rviz and moveit and I can plan trajectories, executing results in `

Apparently, it is necessary to answer to the joint messages with an Action server which is provided by lwr_hw for real hardware or as a gazebo plugin. However, compiling it, adding the

[2016-04-04 18:38] carlosjoserg commented on #68
Hi @kjyv sorry for the slow response.

Yep, sorry for the poor documentation, that example assumes some basics of ROS, ros-controls, and MoveIt!, among other things.

I don't fully understand what you mean, the example should work out-of-the-box, but of course compilation is necessary. Adding the plugin in the world file shouldn't be necessary, since the [gazebo_ros spawner](https://github.com/Cen

[2016-04-06 16:04] kjyv commented on #68
Thanks for your answer.  I have not used ROS before, so that may or may not be part of the issue. I'm not sure if I missed something on my part, but I've opened the ticket because I had to tinker a bit before getting it to work after following the Readme and it included adding the plugin to the simple_environment.world file. Before I did that, the following error can be seen:

and henceforth, the

[2016-04-06 16:25] kjyv commented on #68
Ok, yes. The change in the world file is not necessary if the paths are right. Basically, the information I was missing is that after compiling, there should be a directory lwr_controllers/lib which in my case was under build/devel. Standard mkdir build, cmake .., make and then symlinking it could maybe be added to the Readme of lwr_controllers and I guess then this ticket can be closed ;)

[2016-04-06 16:38] kjyv commented on #68
Ok, yes. The change in the world file is not necessary if the paths are right. Basically, the information I was missing is that after compiling, there should be a directory lwr_hw/lib which in my case was under build/devel. The same applies for lwr_controllers/lib. Standard mkdir build, cmake .., make and then symlinking it could maybe be added to the Readme of lwr_controllers / lwr_hw and I guess

[2016-04-06 17:12] kjyv opened #69 "Effort readings from Gazebo are zero"
When reading joint_state messages from simulation in gazebo, the effort values are always zero. This seems to be in turn because the call to GetForce(0) in lwr_hw_gazebo.hpp returns zero. The documentation even says it is not implemented.
Looking at https://bitbucket.org/osrf/gazebo/issues/1321/proper-joint-torque-feedback
it seems that indeed there are no proper torque measurements possible, some

[2016-04-18 19:53] carlosjoserg commented on #69
Hi @kjyv

Yes, the problem is upstream.

Using GetForceTorque() and projecting to the joint axis is kind of workaround.

This happens when using position_controllers since there is no actual PID, but the [position is set directly](https://github.com/CentroEPiaggio/kuka-lwr/blob/master/lwr_hw/include/lwr_hw/lwr_hw_gazebo.hpp#L74-L85). This is because we didn't want to tune a PID for simulation, and

[2016-04-19 14:42] kjyv commented on #69
Ok, I guess you have to decide if you want a workaround to be implemented or not, but it seems that it is not going to be fixed in gazebo anytime soon (I think it's a bit ridiculous for such a big project).
I basically wanted to prepare my experiment with the real robot in simulation and noticed that it didn't give these measurements. They are being set fine from the hardware/frl, so I'm ok for no

[2016-05-31 23:57] trhermans commented on #56
I just came across this repository in looking to setup a realtime safe ROS interface to the LWR 4+ which uses the ros_control interface. The alternative solutions out there seem to all build on OROCOS for handling realtime interaction over FRI, the most recent being this fork: https://github.com/kuka-isir/lwr_hardware

I think you are correct that the memory allocation is not good inside the realt

[2016-06-06 08:52] carlosjoserg commented on #56
Hi @trhermans appologies for the delay in the reply.

Yes, that one from ISIR is pretty complete, but also complex.

About he memory allocation, read this: https://github.com/ros-controls/ros_control/issues/213

Yes, the kukaFRI is the default interface for the real hw. More than memory allocation issues, it has problems with threads. This is pretty much solved nicely in the stanfordFRI. If you wi

[2016-08-04 08:00] miguelprada opened #72 "ros_control API changes in Kinetic"
There's been a change of API for `hardware_interface::ControllerInfo` in the `kinetic-devel` branch of `ros_control` in order to allow controllers to use multiple hardware interfaces. This change breaks the `canSwitch` and `doSwitch` implementations here.

The fix is quite straightforward, and I already made it in my fork, but it only makes sense to apply it in a Kinetic targeted branch. If you op

[2016-08-04 15:35] carlosjoserg commented on #72
That'd be great to have already.

There has been no official release of this package in any distro, and furthermore, I never liked the devel-branch-per-distro thing so common in ROS-wise repos ;)

I'd tell you to PR in `master` directly, but there is this long-standing PR #46, which I'd like to merge before moving forward to meet newest dependencies... this way I can tag the latest commit before u

[2016-08-04 20:17] miguelprada commented on #72
Sure, I'll add some more changes I didn't notice at first (i.e. `canSwitch` has been replaced by `prepareSwitch` in `RobotHW`), tag the commit with the required changes in my fork and wait for you to be ready.

About the development branches vs tags, don't you think keeping `indigo` as a live branch is better in case you ever need to backport other changes or even just do some bug fixing?

[2016-08-05 10:42] carlosjoserg commented on #72
You said the magic word, only if you are a believer of _backporting_, which makes sense for bigger software following LTS releases, like Ubuntu, or for critical or security issues, which it is none of these in this case, I think.

I believe it is better for people to add functionality or even fix bugs on top of the latest, otherwise you might end-up also cherry-picking stuff from people working on

[2016-08-08 12:31] carlosjoserg commented on #72
I''ve given a bit of thought on the development style, I think something like this could be good:

![devel](https://dl.dropboxusercontent.com/u/16526900/IMG_20160808_123701.jpg)

Plus the policy of only rebasing&merging in `master` as the unique development branch, and only cherry-picking back _compatible_ bug fixes or functionality. For instance, for a new release on the latest, say `kinetic_rele

[2016-08-09 08:00] miguelprada commented on #72
Looks good to me.

That being said, I'm probably not the right person to vet this. My experience with git and release workflows is quite limited yet.

[2016-08-11 05:22] nstaub commented on #72
Looks good to me, although I am also not the right person to vet.

[2016-10-10 12:27] carlosjoserg commented on #72
Thanks for the input @nstaub !

And sorry for the slow response !!

I'm starting to move this...

[2016-10-10 13:41] #29 closed

[2016-10-10 13:42] #19 closed

[2016-10-10 13:42] #4 closed

[2016-10-10 13:43] #40 closed

[2016-10-10 13:49] carlosjoserg commented on #68
I think building with plain catkin this is not an issue.

If you are using a different building method and want to share it by adding it to the Readme, you are welcome!

[2016-10-10 13:49] #68 closed

[2016-10-10 14:08] carlosjoserg commented on #55
I believe this was solved with 07c297b6c5c371d8f048f9ce440ca4c47f33c722

[2016-10-10 14:08] #55 closed

[2016-10-10 14:18] carlosjoserg commented on #69
Nothing to add for now. If you are willing to add this functionality for the workaround, you are welcome.

I re-read the issue on bitbucket, and it seems that the workaround was not properly working either, and the PR was declined.

Yes, but you would need to have the exact dynamic values of the arm, match the PID gains from KUKA position control (nobody that I know has access), and expect it beha

[2016-10-10 14:18] #69 closed

[2016-10-10 14:19] #57 closed

[2016-10-10 14:20] #64 closed

[2016-10-10 14:21] #63 closed

[2016-10-10 14:22] #51 closed

[2016-10-10 16:06] carlosjoserg opened #75 "Resolve #44"

[2016-10-10 16:12] carlosjoserg opened #76 "Replace default interface with Stanford FRIL (URGENT)"
For several reasons... including not to depend on Kuka proprietary files

@miguelprada  If you can help me test  during the next days on Indigo, that'd be great, after the merge of #46 of course ...

[2016-10-10 16:19] #56 closed

[2016-10-11 09:15] miguelprada commented on #76
I'm going to have a busy week, but I'll try to find some time. Otherwise, next week for sure.

[2016-10-13 23:51] carlosjoserg commented on #76
Sure, no rush, and thanks !

[2016-10-31 15:54] carlosjoserg opened #78 "CLOCK_REALTIME vs CLOCK_MONOTONIC"
In #46 , @miguelprada raised a [comment](https://github.com/CentroEPiaggio/kuka-lwr/pull/46#discussion_r82752237) about what would be the best thing to do when updating the controllers.

In an email discussion with him, the suggestion kind of makes sense, which is how it is done currently in the [`ur_modern_driver`](https://github.com/ThomasTimm/ur_modern_driver) and in the [`ros_control_boilerpla

[2016-10-31 15:54] carlosjoserg opened #79 "Port driver to CombinedRobotHW"

[2016-11-01 10:14] gavanderhoorn commented on #78
not with the pkgs in this repository, but with another driver that did not take the `CLOCK_REALTIME`, `CLOCK_MONOTONIC` difference into account.

As `CLOCK_MONOTONIC` does not necessarily correspond to Wall time, it is perfectly valid for it to start counting at `0` at system start. Progress of time follows Wall time (ie: seconds are still seconds), except for when Wall time is adjusted in any way

[2016-11-02 14:36] carlosjoserg commented on #78
In the 1970s haha.. thanks for your input @gavanderhoorn

Ok, I get that...  so as far as I understand, the time is only used to stamp the state messages of controllers when publishing to ROS.

Tweaking my question: Why are we passing the point in time in the controller manager update call then? I mean, wouldn't it be better for each controller to stamp the messages they are publishing using their

[2016-11-27 06:08] zainmehdi opened #80 "unable to compile on ros jade"
Hi,
`error: ‘const struct hardware_interface::ControllerInfo’ has no member named ‘hardware_interface’`

this is the error I get when I try to compile. Can you point something out please .

[2016-11-28 08:39] carlosjoserg commented on #80
Hi @zainmehdi ,

Yes, that's due to API changes in ros control in Jade+, and these packages are working up to Inidgo, so I'll mark the issue as question and not a  bug.

The update is on the way, but with slow response due to other commitments. In the meantime, you are welcome to work on your fork for use&testing.

I'm aware of other forks with the upgrade, so you are welcome to work it on your fo

[2016-11-30 01:30] zainmehdi commented on #80
thnx alot it worked

[2016-11-30 01:30] #80 closed

[2016-12-01 13:48] hamalMarino commented on #67
Just for reference purposes, working with @manuelbonilla on the [`JointImpedanceController`](https://github.com/hamalMarino/kuka-lwr/blob/master/lwr_controllers/src/joint_impedance_controller.cpp) control directly using the Kuka interface for commanding the robot (i.e. [`doJntImpedanceControl`](https://github.com/hamalMarino/kuka-lwr/blob/master/lwr_hw/src/fri/friremote.cpp#L148)), we needed to ha

[2016-12-07 10:54] marcoesposito1988 commented on #67
This appears to be fixed now. Thanks!

[2016-12-07 10:54] #67 closed

[2017-01-12 11:47] marcoesposito1988 opened #83 "Missing moveit_planning_execution.launch"
The file was added in cee59d494bf7afe5eda331fbf9cae00a4b4b792f, but I can't find it any more in master.

Was it devoured by some git merge?

[2017-01-12 13:59] marcoesposito1988 opened #84 "Messages for impedance commands"
As suggested by @gavanderhoorn in SalvoVirga/iiwa_stack#42, it would probably be a good idea to work on common messages for impedance commands.

There is a starting point at https://github.com/ros-industrial-consortium/majorana (it was a GSoC but it is already over). Shall we both start a branch, and see where it goes from there? I think getting our hands dirty would be the only way to realize rea

[2017-01-16 09:26] carlosjoserg commented on #83
Hi @marcoesposito1988 Yep, I see it was out in #18, but I don't think on purpose, too many changes in that PR, feel free to add it again, and my apologies !

[2017-01-16 09:35] carlosjoserg commented on #84
Yes, I'm aware of that project too... sure, it sounds clever to work all together in common messages for impedance commands

Do you know of any robot already using them? Or so far it's been what would be ideal to have?

Do you know what was wrong with https://github.com/RCPRG-ros-pkg/cartesian_trajectory_msgs ?

[2017-01-16 09:37] gavanderhoorn commented on #84
Perhaps @rkojcev can provide some background.

[2017-01-16 17:38] marcoesposito1988 commented on #83
I thought so :rofl: no problem, I will make a pull request to put it back

[2017-01-16 17:42] marcoesposito1988 opened #85 "Support for clamping to a max joint velocity in joint_impedance_controller"
While trying out the new joint_impedance_controller, I noticed that sometimes I get an FRI error because of "excessive commanded joint speed" (in T1).

I think it could be useful to pass a maximum desired joint speed to the controller, to which to clamp the command. This could also be desirable for safety purposes.

Would you be interested in a PR?

[2017-01-16 19:39] rkojcev commented on #84
Hi all,

I have tested the set of messages with the kuka iiwa. The driver that interfaces between ROS and the Sunrise OS was the [grl](https://github.com/ahundt/grl).

The goal of the development was to come up with of generalized set of msgs for Impedance/Force control that are robot agnostic.

It would be great if we get some feedback/improvements and more robots using the cartesian impedance me

[2017-01-17 13:42] carlosjoserg commented on #85
Unfortunately I don't have access to the hardware right now and I can't test it, but sounds good in general, so it might be good to have it at the driver level `lwr_hw`, what do you think?

[2017-01-17 13:49] marcoesposito1988 commented on #85
At that level? Interesting. Yes, could be practical.

I will start playing with it.

[2017-01-19 11:35] marcoesposito1988 commented on #83
BTW: in the current RViz configuration, the planning request marker size is set to zero. This means, that you can't see the marker to command the robot. This can be EXTREMELY confusing for a newbie just trying out the package (I think I spent half an hour figuring this out myself, including recompiling RViz!)

Would you mind if I add another RViz config file to be loaded by moveit_planning_executi

[2017-02-10 11:22] marcoesposito1988 commented on #83
Fixed by #88

[2017-02-10 11:22] #83 closed

[2017-02-10 14:39] marcoesposito1988 opened #89 "Gravity compensation controller not working"
Hi guys,

I cannot get the gravity compensation controller to work any more, since the big refactoring.

I get a "FRI Speed limit" error.

I am on Kinetic / 16.04, since I do not manage to switch control mode on Indigo / 14.04 any more (separate bug report incoming).

Is it just me?

[2017-02-10 14:41] marcoesposito1988 opened #90 "Switching control mode not working on Indigo / 14.04"
Hi guys,

I do not manage to switch the control mode when on Indigo. The lwr_hw node remains stuck at "Waiting for monitor mode", even though I can read "Monitor mode" on the robot pad.

Is it just me?

[2017-06-02 16:36] balakumar-s opened #93 "[FRI quesition] Joint torque commands not executed on robot"
I want to send joint torque commands to the LWR. Currently, I have the robot in joint impedance mode. I can send joint position commands and the robot moves. If I send joint torques, the robot does not move ( the commands are not executed on the robot).
1. Do you have to be at 1khz to send joint torque commands? ( currently my control rate is 100hz- friopen(10))
2. How do you send joint torque com

[2017-06-15 07:59] graiola commented on #93
Hi, I am having the same problem in simulation with gazebo. I am using ubuntu 16.04 with kinetic.

[2017-06-16 13:43] nicocadart opened #95 "FRI Interpolation Error"
Hey,

First of all, thank you for your work on this nice interface. I recently discovered it.

However, when starting the command mode, I always get the "FRI interpolation error", which enables the brakes and then returns back to monitor mode. I tried to move the joints 1 (a1) and 3 (e1) to a bent position (~90 deg), but it doesn't change anything.
I've found this error in KUKA documentation, desc

[2017-06-19 10:39] marcoesposito1988 commented on #95
Hi @nicocadart,

you mean joints a2 and a3, right? They are the only ones that can "bend" the robot; a1 and e1 are coaxial.

Do you have anything attached on the robot? I'm not totally sure, but that error could also pop up if you have a heavy tool which you didn't calibrate the robot for.

[2017-06-19 10:48] marcoesposito1988 commented on #93
Hi @balakumar-s,

I am not using the robot at the moment, but I think that the last big refactoring (not done by me) did not leave the effort command in a working condition: there is no interface type which triggers the effort control method. As you can see [here](https://github.com/CentroEPiaggio/kuka-lwr/blob/6ee3eecc7df70beda20dbdd41e4f409d56bb88a5/lwr_hw/include/lwr_hw/lwr_hw_fri.hpp#L143), pu

[2017-06-19 11:17] graiola commented on #95
From what I see in the code highlighted by @marcoesposito1988 , you could use the JOINT_IMPEDANCE control strategy to perform a JOINT_EFFORT control, just set the stiffness to zero and the joint_set_point_command_ to the current joints position.

@marcoesposito1988 do you think it would work?

[2017-06-19 11:17] graiola commented on #93
From what I see in the code highlighted by @marcoesposito1988 , you could use the JOINT_IMPEDANCE control strategy to perform a JOINT_EFFORT control, just set the stiffness to zero and the joint_set_point_command_ to the current joints position.

@marcoesposito1988 do you think it would work?

[2017-06-19 11:20] nicocadart commented on #95
Hi @marcoesposito1988

By "bent" I meant that their angular position is greater than 45 degrees. However I tried with joints a2 and a3 and it doesn't change anything, the same error 'FRI Interpolation Error occurs'.

I don't have any tool yet on the robot, therefore the 'flange' tool is selected.

All controllers in any mode are doing the same error. After a few tries, the error occurs during the

[2017-06-19 17:10] balakumar-s commented on #93
@graiola That's exactly what I attempted. I even tried sending a single torque value to the motors to check if a torque is exerted by the motors, but that did not work. I am currently running FRI at 10ms. Maybe it works only at 1ms?

[2017-06-23 14:28] graiola commented on #95
Hi, I am facing the same problem, any news on that?

[2017-06-23 16:23] graiola commented on #89
Hi @marcoesposito1988 , I am facing the same problem with ubuntu 16.04 and kinetic. Did you find a solution? Thanks.

[2017-06-23 16:52] marcoesposito1988 commented on #89
Hi @graiola,

kind of. I hacked it through because I needed it.

You can take a look at my [gravity compensation branch](https://github.com/marcoesposito1988/kuka-lwr/tree/gravity_compensation).

However since we are getting rid in the robot in my lab, I am not going to spend much time trying to make a pull request out of it.

Ciao
Marco

[2017-06-23 16:57] marcoesposito1988 commented on #95
Are you trying to start the robot with any controller which is not joint_trajectory_controller? As far as I remember, that is not going to work. You have to start in position control, then change to impedance, otherwise you will get that error.

Yes, I feel your pain.

[2017-06-23 17:00] marcoesposito1988 commented on #93
Yes, you can basically achieve effort-based control by setting the stiffness to zero and constantly actualising the setpoint (the commanded pose) to the measured pose. Do not forget that step in automatic mode, or the robot might jump back when you switch back to position control!

However, that is just theory. I never managed to get it to work: I guess I had the same problem as @balakumar-s.

[2017-06-25 19:15] balakumar-s commented on #93
@marcoesposito1988 Thanks,  I am able to send joint torques now. Previously I was sending very little torques. The robot needs a minimum of 0.5 to overcome the internal gravity compensation. It works at 10ms. I have setup a simple PD torque controller. Currently its very compliant but sufficient for my work. Here is a video of the controller: https://youtu.be/9p9ymOskieE

[2017-06-25 19:15] #93 closed

[2017-06-26 09:06] nicocadart commented on #95
Yes the robot is started with the joint_trajectory_controller.

I may have achieved to solve the problem. It was happening when the startegy was switched (or when the first controller is loaded at the beginning), in the first loop iteration. The FRI sends then during one step of time a command with cmdFlag 0 (see setToKRLINT() in friremote.h), which isn't recognized as a known strategy by the KRC,

[2017-06-26 10:41] marcoesposito1988 commented on #95
Very strange, that should not happen. Sounds like a bug, but I never encountered it.

Putting startFRI in write is conceptually wrong, since it's something you should do once and not every millisecond (or 10). But if that lets you use the robot, at least you have the time to solve the issue properly while you are able to work...

[2017-06-26 11:10] nicocadart commented on #95
Yes I know this solution isn't ideal... However the startFRI isn't called every iteration. I added a bool needToStartFRI which is set to true only when doSwitch is called. Therefore, the call to startFRI in write() is done only if the controller has been switched just before.

[2018-03-26 08:24] harry17189 opened #96 "No handshake with real LWR4+"
Dear LWR_HW maintainers

(@marcoesposito1988 @carlosjoserg )

I'm trying to connect a real LWR4+ to the controllers.
I'm able to ping the robot and copied the KRL script to the robot.
I update the IP address in the KRL script to the network card in the robot.

However when launching the ROS script I get the following output:
`[ INFO] [1522052045.632956565]: LWRHWFRI node is waiting for model URDF

[2018-03-26 08:54] miguelprada commented on #96
The [IP on the script](https://github.com/CentroEPiaggio/kuka-lwr/blob/6ee3eecc7df70beda20dbdd41e4f409d56bb88a5/lwr_hw/krl/ros_control.src#L98) is where the FRI will send the packets to, so it should be the IP of whichever computer you're running the driver on, not the IP of the robot's network card.

[2018-03-27 06:34] harry17189 commented on #96
Doh,

My apologise, a stupid mistake that cost me two days.
@miguelprada  Thank you.

So to clarify for future people.
The IP in the KRL script should point to the IP of the PC/Laptop controlling the Robot.
The IP in the ROS launch file should point to the IP of the FRI interface of the Robot.

Dennis

[2018-03-27 06:34] #96 closed

[2019-01-09 14:53] abhishekpadalkar opened #99 "Error at " DECL FRISTATE retVal" in krl dat file"
I am not able to run the KRL script on robot because of the error at line 11 of the dat file. Please help.

[2019-07-05 10:36] mahaarbo opened #100 "single_lwr_robot.launch in melodic-devel points to lwr_soma"
Minor issue that may be confusing to new ROS users: `single_lwr.launch` and `planning_context.launch` is pointing to `lwr_soma` in the `melodic-devel` branch. Changing these back to `single_lwr_robot.urdf.xacro` fixes this issue. Otherwise great work, tested the `ros_control` interface on an LWR 4+ with Ubuntu 18.04 and melodic, and everything works pretty much out of the box.

[2019-11-15 21:33] marcingajewski14 opened #101 "Building Problem"
Hi,
I am begginer in ROS and it is important for me to use package Kuka LWR for my project. I am using ROS Melodic, Gazebo 9. I added package and before launching examples I wanted to build workspace using `catkin build `command. I've got these errors:

`marcin@marcin-VirtualBox:~/ws_moveit/src$ catkin build
-----------------------------------------------------------
Profile:                     d

[2019-12-14 01:28] smhadisadati commented on #101
Hi. the package is for ROS Indigo Ubuntu 14.
You may use:

for ( std::list<hardware_interface::ControllerInfo>::const_iterator ci_it = start_list.begin(); ci_it != start_list.end(); ++ci_it ) {
      for( std::vector<hardware_interface::InterfaceResources>::const_iterator it = ci_it->claimed_resources.begin(); it != ci_it->claimed_resources.end(); ++it) {
...
} }

instead of

for ( std::list<hardw

[2019-12-14 01:31] smhadisadati commented on #101
Later you get more errors with FRI that I am working on at the moment. Better to run it on ROS Indigo Ubuntu 14 if you want no hassles. Alternatively, apparently the simulator works on ROS Kinetic Ubuntu 16 (what I have) if you remove all the unnecessary packages (working on it now).
Any luck on your side?

[2020-01-24 18:43] wxmerkt commented on #90
We are facing the same issue at the moment - did you resolve this?

[2020-01-25 18:17] wxmerkt commented on #90
NB: We resolved this by re-enabling the commented out code instead of the empty while-loop.

[2021-02-18 07:51] saba74m opened #103 "Melodic Version Robot Controlles"
Edit: Issue was related to gazebo versions, after some changes they could be used.
I will close the issue.

[2021-03-11 16:24] #103 closed, assigned to nobody

[2021-10-13 09:31] alice1321 opened #104 "Problem while building for Ubuntu 18.04"
Hello,

I'm trying to compile the library on Ubuntu 18.04, however I'm encountering some issues as I will report in the following:

[code]

I'm trying to compile using the following procedure:
1) Create catkin_ws/src
2) Clone the repository in the src directory
3) catkin_make

I've already tried setting the `CMAKE_PREFIX_PATH` and the gazebo_DIR however none of this solutions worked.
I've also ins

[2022-04-16 11:25] dbdxnuliba opened #105 "build error : /usr/bin/ld: can't find -lUUID::UUID"
/usr/bin/ld: can't find  -lUUID::UUID
collect2: error: ld returned 1 exit status
make[2]: *** [/home/dell1804/refer/ws_lwr_force_position/devel/.private/lwr_hw/lib/liblwr_hw_gazebo_plugin.so] Error 1
make[1]: *** [CMakeFiles/lwr_hw_gazebo_plugin.dir/all] Error 2

[2022-04-18 07:35] lepalom commented on #105
try to install uuid-dev:

[code]
before build it.